@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">CRUD - Sistema de Cadastro</h1>
    <p>Desenvolvido por Wilian Toledo</p>
    <br /><br />
    <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Criar">Cadastrar Cliente</a>
</div>
